{% extends 'MySideEffectApp/base.html'%}

{% block content %}

<h2>About</h2>
<p>MySideEffects is a step towards making information from the publications more accessible and readable.</p>
<p>It is built collaboratively as a part of the ‘Hackathon’ event held at Basel from 28 October , 2017 to 29 October, 2017.</p>
<p>It contains information about the drugs and their adverse effects. The user can have access to the information he/she is interested in.</p>
<p><b>Note:</b> The information is going to be more accurate as we have more information about the user.</p>
<p><b>Disclaimer:</b> This is still only collected statistcs, and everything can be different in your specific case, primarily for situations we are unable to identify.<p>
 
{% endblock %}
