{% extends 'MySideEffectApp/base.html'%}

{% block content %}

<h2>About</h2>
<p>MySideEffects is a step towards making information from the publications more accessible and readable.</p>
<p>It is built collaboratively as a part of the ‘Hackathon’ event held at Basel from 28 October , 2017 to 29 October, 2017.</p>
<p>It contains information about the drugs and their adverse effects. The user can have access to the information he/she is interested in.</p>
<p><b>Note:</b> The information is going to be more accurate as we have more information about the user.</p>
<p><b>Disclaimer:</b> This is still only collected statistcs, and everything can be different in your specific case, primarily for situations we are unable to identify.<p>
        <p><b>Data resources:</b></p>
        <p>OpenFDA Adverse event data - <a href="https://open.fda.gov/downloads/">OpenFDA</a></p>
            <p>PubMed (MEDLINE) - API for bulk download:
                <a href="https://www.ncbi.nlm.nih.gov/pmc/tools/openftlist/">PubMed</a></p>
                <p>SIDER (side effect database, extracted from public documents
                    and package inserts, last update: October 2015) -
                    <a href="http://sideeffects.embl.de/">SIDER</a></p>
                    <p>MEDRA (Dictionary of medical terms):
                        <a href="https://www.meddra.org/">MEDRA</a></p>
                        <p>PUBCHEM (Database of drug compounds):
                            <a href="https://pubchem.ncbi.nlm.nih.gov/">PUBCHEM 1 </a>
                            <a href="https://pubchem.ncbi.nlm.nih.gov/pug_rest/PUG_REST.html">PUBCHEM 2</a></p>

                        <p>This is part of the [BaselHack](baselhack.ch) Hackathon: <a href="https://github.com/BaselHack/BaselHack2017/wiki/Topics">Github</a></p>
{% endblock %}
