<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MySideEffectApp/style.css' %}" />
    <title>{% block title %}My Side Effect - find out what medication Not to take{% endblock %}</title>
</head>

<body>
    <div class="header">
      <div class="container">
        <h1>My Side Effect</h1>
        <h2>find out what medication NOT to take</h2>        
      </div>
</div>
    <div class="nav">
      <div class="container">
        <ul>
          <li><a href="{% url 'MySideEffectApp:home'%}" target="_blank">Home</a></li>
          <li>Register</li>
          <li>Schedule</li>
          <li>Sponsors</li>
          <li><a href="{% url 'MySideEffectApp:about'%}" target="_blank">About</a></li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

    <div class="main">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

{% comment %}
    <div class="jumbotron">
      <div class="container">
        <h2>Stay Connected</h2>
        <p>Receive weekly insights from industry insiders.</p>
        <a class="btn" href="#">Join</a>
      </div>
    </div>
{% endcomment %}    

    <div class="footer">
      <div class="container">
        <p>&copy; Basel Hack 2017</p>
      </div>
    </div>
  </body>
</html>
