{% extends 'MySideEffectApp/base.html'%}

{% block content %}

<h1>Sponsors</h1>
<div class="container">
    <p>We are grateful to our amazing sponsors of Baselhack</p>
<img src="./../../static/MySideEffectApp/images/basler_versicherungen.gif" alt="Basler Versicherungen"/> 
<img src="./../../static/MySideEffectApp/images/Bluesky.png" alt="Basler Versicherungen"/> 
<img src="./../../static/MySideEffectApp/images/Adobe.png" alt="Basler Versicherungen"/> 
<img src="./../../static/MySideEffectApp/images/fhnw_habg_10mm.jpg" alt="Basler Versicherungen"/> 
<img src="./../../static/MySideEffectApp/images/ACT_Logo_RGB_small.jpg" alt="Basler Versicherungen"/> 
<img src="./../../static/MySideEffectApp/images/Imperial_LOG_rot_CMYK-1060-934.png" alt="Basler Versicherungen"/> 
<p>.</p>
<p>.</p>
</div>
{% endblock %}
